.descripcionTablaDone{
    width: 0px;
}
.doneTableItem{
    background-color: var(--background_ToDolist);
    display: inline-block;
    width: max-content;
    margin: 5px 5px 5px 52px;
}
.doneTableItem:hover{
    display: inline-flex;
    text-size-adjust: 30px;
    width: 700px;
    height: 70px;
    background-color: rgba(5, 201, 93, 0.864);
    transition: .5s ease-in-out all;
}
.doneItemID{
    max-width: 50px;
    min-width: 48px;
    padding: 20px;
    justify-content: left;
}
.doneItemNombre{
    max-width: 250px;
    min-width: 250px;
    padding: 20px;
    
    justify-content: center;
}
.doneItemDescripcion{
    max-width: 400px;
    min-width: 400px;
    padding: 20px;
    
    justify-content: center;
}